<%# Página de boas vindas %>

<h1>Bem-vindo a <%= application_name %>!  </h1>
<p>Usuário: <%= @name %></p>

<%= render "menu" %>

<p>Você está no ambiente de <strong><%= application_environment %></strong></p>