<h1><%= "#{Coin.model_name.human(count: Coin.count)} - #{t('links.edit')}" %></h1>

<%= render 'form', coin: @coin %>

<%= link_to t('links.show'), @coin %> |
<%= link_to t('links.back'), coins_path %>
